---
---

<h3 text-2xl>⚡Skills</h3>
<img
  w-full
  src="https://skillicons.dev/icons?i=html,js,css,ae,au,azure,git,github,go,md,nginx,ps,php,pr,py,devto,svg,vscode,docker,gcp,vue,nodejs,java,ai&theme=dark&perline=8"
  alt=""
/>
